.footer {
    height: 250px;
    width: 100%;
    display: flex;
    /* margin-top: 30px; */
}

.footer .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-family: serif;
    font-size: 50px;
    font-weight: bold;
}

.footer .right {
    width: 50%;
    height: 100%;
    background-color: #c91b61;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.footer .right .rightHeading {
    font-size: 35px;
    font-family: serif;
    font-weight: bold;
}

.footer .right .social {
    width: 40%;
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
}